body {

  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #283136;
  text-transform: none;
  line-height: 24px;

  background-color: #fff;
}

a {
  text-decoration: none;
}

h3 {
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
}

p {
  color: #283136;
  text-transform: none;
  line-height: 24px;
}

caption {
  text-transform: uppercase;
  font-weight: bold;

  line-height: 24px;
  margin-bottom: 45px;
}
.main-header, .main-promo {
  background-color: #eee;
}

.main-navigation {

  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  line-height: 30px;

}
.site-navigation,
.cart-navigation,
.all-partners-list,
.our-social-net,
.catalog-list,
.pagination-list {
  list-style: none;
}

.site-navigation,
.cart-navigation {
  margin: 0;
  padding: 0;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:hover,
.cart-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.cart-navigation a:active {
  color: #b9b9b9;
}

.learn-more,
.buy-site {
  color: #fff;
  text-transform: uppercase;

  background-color: #fb565a;

}

.buy-apps {
  color: #fff;
  text-transform: uppercase;

  background-color: #00ca74;
}

.buy-presentation {
  color: #fff;
  text-transform: uppercase;

  background-color: #efc84a;
}
.buy-button {
  width: 160px;
  height: 50px;
}
}
.slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.table-data-percents {
  font-weight: bold;
  font-size: 45px;

  line-height: 10,06px;
  margin-bottom: 24px;
}

.be-freinds {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.filter-uppercase {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.pagination-list {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
	clip: rect(1px 1px 1px 1px); / IE6, IE7 /
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
/* ----------          GRID CLASSES          ---------- */

/* ----------            navigation          ---------- */
.main-navigation {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}
.site-navigation {
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.cart-navigation {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ----------          main page          ---------- */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

}
.main-promo-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}
.flex-slogan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offers-container {
  width:1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 130px;
  border-bottom: 2px solid #eee;
}
.offers-site, .offers-apps, .offers-presentation {
  width: 300px;
  height: 350px;
  padding-top:5px;
}
.about-company-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}

.all-partners-list {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  border-bottom: 2px solid #eee;
}

.footer-containter {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* main catalog */

.form-catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.catalog-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.catalog-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
