/* -----     common tags     ----- */

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #283136;
  text-transform: none;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* -----     set up display:flex / justify-content: space-between    ----- */

.main-navigation,
.site-navigation,
.offers-container,
.about-company-container,
.all-partners-list,
.catalog .container,
.result-nav .container,
.result-nav-sort,
.our-social-net,
.form-title,
.catalog,
.form-catalog,
.catalog-list {
  display: flex;
  justify-content: space-between;
}

/* -----     navigation panel     ----- */

.main-navigation {
  width: 1160px;
  margin: 0 auto;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  line-height: 30px;
}

.site-navigation,
.cart-navigation {
  align-items: center;
  margin-top: 22px;
}

.site-navigation {
  width: 440px;
  padding: 0 44px 0 0px;
}

.main-header {
  padding-top: 50px;
  background-color: #eee;
}

.cart-navigation {
  display: flex;
}

.site-navigation a,
.cart-navigation a {
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:hover,
.cart-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.cart-navigation a:active {
  color: #b9b9b9;
}

.cart-navigation li {
  position: relative;
}

.cart-navigation li::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 6px;
  left: -42px;
  background-image: url(../img/cart-icon.svg);
}

.main-header-logo:hover img {
  opacity: 0.8;
  cursor: pointer;
}

.main-header-logo:focus img {
  opacity: 0.3;
}

/* -----    section main index page    ----- */

.main-promo {
  position: relative;
  height: 420px;
  background-color: #eee;
}

.site-navigation,
.cart-navigation,
.about-company-list,
.all-partners-list,
.our-social-net,
.catalog-list,
.pagination-list {
  list-style: none;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  padding: 16px 41px;
  border-radius: 2px;
  cursor: pointer;
}

.btn:focus {
  color: rgba(255, 255, 255, 0.5);
}

.learn-more {
  padding: 16px 55px;
}

.learn-more:hover,
.contact-data .btn:hover {
  background-color: #e74246;
}

.learn-more:focus,
.contact-data .btn:focus {
  background-color: #d7373b;
}

.learn-more,
.buy-site {
  color: #fff;
  background-color: #fb565a;
}

.buy-site:hover {
  background-color: #e74246;
}

.buy-site:focus {
  background-color: #d7373b;
}

.buy-apps {
  background-color: #00ca74;
}

.buy-apps:hover {
  background-color: #00bc6c;
}

.buy-apps:focus {
  background-color: #00aa62;
}

.buy-presentation {
  background-color: #efc84a;
}

.buy-presentation:hover {
  background-color: #eab534;
}

.buy-presentation:focus {
  background-color: #e5a722;
}

.flex-slogan-text {
  width: 380px;
  padding-top: 68px;
}

.slogan {
  display: block;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
}

.flex-slogan-text p {
  width: 86%;
  margin-bottom: 52px;
}

.table-data-percents {
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 24px;
}

.table-data-percents tr {
  margin-bottom: 27px;
}

.table-data-num {
  position: relative;
  padding-bottom: 25px;
  padding-top: 4px;
  width: 110px;
}

.table-data-num::after {
  content: "%";
  position: absolute;
  width: 10px;
  height: 10px;
  top: -4px;
  right: 30px;
  font-size: 26px;
  font-weight: 700;
}

.table-data-num-two::after {
  right: 57px;
}

.table-data-text {
  line-height: 20px;
}

.be-freinds {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.filter-uppercase {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.name-catalog {
  margin-bottom: 54px;
  background-color: #eee;
  text-align: center;
}

.our-social-net {
  padding-left: 0;
  align-items: center;
}

.social-net a {
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 11px;
  padding-left: 0;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.vk img {
  margin: 31px 0 0 26px;
}

.fb img {
  margin: 27px 0 0 33px;
}

.insta img {
  margin: 28px 0 0 30px;
}

.social-net a:hover {
  background-color: #e74246;
}

.social-net a:focus img {
  opacity: 0.3;
}

/* ----------          main page          ---------- */

.page-title {
  margin: 0;
  padding: 68px 0 108px 0;
  line-height: 55px;
  font-weight: 500;
  font-size: 55px;
}

.offers-container {
  width: 1100px;
  padding: 77px 60px 77px 0;
  border-bottom: 2px solid #eee;
}

.offers-item {
  width: 300px;
  height: 350px;
  padding-top: 5px;
}

.offers-item h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0 0 1px;
}

.offers-item p {
  margin: 20px 0 44px 1px;
  width: 90%;
  letter-spacing: 0.15px;
}

.about-company-container {
  padding: 27px 0 46px 0;
  border-bottom: 2px solid #eee;
}

.about-company-brief h3 {
  width: 90%;
  margin-bottom: 35px;
  margin-left: 1px;
  font-size: 45px;
  line-height: 45px;
}

.about-company-brief p {
  width: 80%;
  margin-left: 1px;
  margin-bottom: 39px;
}

.about-company-brief h4 {
  text-transform: uppercase;
  margin-left: 1px;
  margin-bottom: 22px;
}

.about-company-list {
  padding-left: 38px;
}

.about-company-list li {
  position: relative;
  margin-bottom: 25px;
}

.about-company-list li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-company-stat {
  padding-top: 13px;
}

.our-stat {
  width: 360px;
  margin-top: 28px;
}

.our-stat caption {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 45px;
  padding-left: 2px;
}

.partners .container {
  border-bottom: 2px solid #eee;
}

.all-partners-list {
  align-items: center;
  margin: 0 auto;
  padding: 42px 0 31px 0;
}

.partners-list {
  position: relative;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-list img {
  opacity: 0.2;
}

.partners-list:hover img {
  opacity: 1;
  cursor: pointer;
}

.partners-list:active img {
  opacity: 0.1;
  cursor: pointer;
}

.partners-list::after {
  content: "";
  position: absolute;
  top: 20px;
  right: -2px;
  width: 2px;
  height: 52px;
  background-color: #eee;
}

.all-partners-list li:first-child {
  padding-top: 8px;
  width: 268px;
  padding-right: 12px;
}

.all-partners-list li:last-child {
  padding-top: 5px;
  width: 258px;
  padding-left: 22px;
}

.all-partners-list li:last-child::after {
  display: none;
}

.footer-containter {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 47px 0 60px 0;
}

.contact-data {
  position: absolute;
  left: 0;
  top: -368px;
  display: flex;
  flex-direction: column;
  padding: 48px 50px 27px 50px;
  width: 219px;
  height: 235px;
  background-color: #fff;
  color: #666;
  line-height: 18px;
}

.contacts {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin: 0 0 24px 0;
  padding: 0;
}

.contact-data-text {
  padding-left: 2px;
}

.contact-data-text {
  margin: 0 0 36px 0;
}

.contact-data-text.address {
  margin: 0 0 19px 0;
  width: 95%;
}

.contact-data .btn {
  padding: 17px 37px 15px 45px;
  color: #fff;
  background-color: #fb565a;
}

.contact-data .btn:focus {
  color: rgba(255, 255, 255, 0.5);
}

.marker {
  width: 360px;
  height: 190px;
  position: absolute;
  top: -340px;
  left: 50%;
  background-image: url(../img/marker.png);
  transform: translateX(-50%);
}

.footer-text {
  padding-top: 22px;
  padding-left: 128px;
}

.footer-text p {
  margin: 0 0 10px 0;
}

.footer-whole {
  padding-top: 80px;
}

.footer-whole-inner {
  padding-top: 60px;
}

/* -----     slider     ----- */

.slide {
  display: flex;
  justify-content: flex-start;
}

.slide-hide {
  display: none;
}

.slider {
  padding: 7px 0 0 51px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/* -----     popup menu     ----- */

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
  z-index: 100;
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  background-color: #fff;
}

.popup-hide {
  display: none;
}

.form-wrap {
  width: 760px;
}

.form-wrap form {
  width: 100%;
}

.form-title {
  margin-left: 100px;
  margin-right: 90px;
}

.form-title h3 {
  display: block;
  width: 90%;
  font-size: 45px;
  line-height: 45px;
}

.close-form {
  position: relative;
  left: 30%;
  width: 21px;
  height: 21px;
  align-self: center;
  background: url(../img/close-cross.svg) no-repeat;
  border: none;
  opacity: 0.3;
}

.close-form:hover {
  opacity: 1;
  cursor: pointer;
}

.close-form:active {
  opacity: 0.1;
}

.username-popup,
.useremail-popup {
  width: 360px;
  height: 50px;
  padding-left: 5px;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.5;
}

.form-wrap textarea {
  width: 755px;
  height: 118px;
  margin-left: 100px;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 18px;
  padding-left: 5px;
  opacity: 0.5;
}

.usersubmit-popup {
  width: 260px;
  height: 50px;
  margin-left: 100px;
  text-transform: uppercase;
  color: #fff;
  background-color: #fb565a;
  border: 0px;
}

.user-date {
  display: flex;
  justify-content: space-around;
  width: 760px;
  margin-bottom: 60px;
  padding-left: 100px;
}

.user-date label {
  font-weight: bold;
}

.for-textarea {
  font-weight: bold;
  margin-left: 100px;
}

/* -----     catalog page     ----- */

.menu-active {
  position: relative;
}

.menu-active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.result-nav {
  text-transform: uppercase;
}

.result-nav-title {
  width: 400px;
  font-size: 18px;
  font-weight: 700;
}

.result-nav-sort {
  width: 360px;
  font-size: 14px;
  font-weight: 300;
  padding-top: 2px;
}

.result-nav-sort a {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.results-nav-sort-span a{
  margin-right: 20px;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.results-nav-sort-buttons a{
  padding: 0;
  margin-left: 18px;
}

.result-nav-sort a,
.result-nav-sort a {
  opacity: 0.3;
}

.result-nav-sort a:hover,
.result-nav-sort a:hover {
  opacity: 0.5;
}

.active a:active,
.active a:focus {
  opacity: 1;
}

.filter-submit input {
  width: 100%;
  border: 1px solid#ededed;
  background-color: #ededed;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 18px 0;
  margin-top: 48px;
  cursor: pointer;
}

.filter-submit input:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.filter-grid {
  border: none;
  padding: 0;
  margin-top: 50px;
  margin-bottom: -5px;
}

.filter-grid label {
  display: block;
  position: relative;
  padding-left: 34px;
  line-height: 42px;
  margin-bottom: -3px;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border: 4px solid #a5a5a5;
  top: 7px;
  left: -2px;
  border-radius: 50%;
}

input[type="radio"] + label:hover::before {
  border: 4px solid #000;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 15px;
  left: 6px;
  border-radius: 50px;
  background-color: #a5a5a5;
}

input[type="radio"]:checked + label:hover::after {
  background-color: #000;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 9px;
  left: -2px;
  opacity: 0.5;
  background-image: url(../img/checkbox-off.svg);
}

input[type="checkbox"] + label:hover::before,
input[type="checkbox"]:checked + label:hover::before {
  opacity: 1;
}

input[type="checkbox"]:checked + label::before {
  width: 27px;
  background-image: url(..//img/checkbox-on.svg);
}

.catalog-list {
  width: 760px;
  flex-wrap: wrap;
  padding-top: 75px;
  margin-bottom: 0;
}

.filters {
  width: 260px;
}

.catalog-item {
  height: 576px;
  margin-bottom: 72px;
  position: relative;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item a {
  display: block;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -1px;
  height: 40px;
  width: 360px;
  background-color: #fff;
  background-image: url(../img/browser.svg);
  opacity: 0.1;
}

.catalog-item:hover {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.catalog-item:hover::before {
  opacity: 1;
}

.themes-more {
  background-color: #eee;
  width: 358px;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 0 47px 0;
}

.themes-more-title {
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 16px 0;
}

.themes-more-text {
  line-height: 18px;
  color: #666;
  text-align: center;
  width: 208px;
  margin: 0 auto 29px auto;
  padding: 0;
}

.themes-more-price {
  margin: 0 auto;
  padding: 13px 60px;
  background-color: #d7373b;
  border: 1px solid #d7373b;
  border-radius: 3px;
}

.catalog-item:hover .themes-more {
  display: flex;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  margin: -13px auto 0 auto;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border: 3px solid #eee;
  color: #000;
  margin-right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 3px;
}

.pagination-item:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.pagination-item-next {
  width: 254px;
}

.pagination-item-current {
  background-color: #fff;
}

/* -----     FILTER catalog     ----- */

.filter-item {
  margin: 0 0 60px 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 55%;
  height: 2px;
  margin-left: 8%;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  width: 60px;
  padding: 11px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
