body {

  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #283136;
  text-transform: none;
  line-height: 24px;

  background-color: #fff;
}

a {
  text-decoration: none;
}

.main-header, .main-promo {
  background-color: #eee;
}
.main-header {
  padding-top: 50px;
}
.main-navigation {

  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  line-height: 30px;

}
.site-navigation,
.cart-navigation,
.all-partners-list,
.our-social-net,
.catalog-list,
.pagination-list {
  list-style: none;
}

.site-navigation,
.cart-navigation {
  margin-top: 22px;
}
.site-navigation {
  padding: 0 42px 0 0px;
}

.site-navigation a,
.cart-navigation a{
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:hover,
.cart-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.cart-navigation a:active {
  color: #b9b9b9;
}
.btn {
  color: #fff;
  text-transform: uppercase;
  padding: 16px 41px;
  border-radius: 2px;
}
.learn-more {
  padding: 16px 54px;
}
.learn-more,
.buy-site {
  color: #fff;
  background-color: #fb565a;
}

.buy-apps {
  background-color: #00ca74;
}

.buy-presentation {
  background-color: #efc84a;
}

.slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
}

.table-data-percents {
  font-weight: bold;
  font-size: 45px;

  line-height: 10,06px;
  margin-bottom: 24px;
}

.be-freinds {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.filter-uppercase {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.name-catalog {
width: 100%;
height:220px;
margin-bottom: 60px;
background-color: #eee;
text-align: center;

}
.pagination-list {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 60px;
}
.visually-hidden {
  position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;

}
.our-social-net {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-net {
  width: 64px;
  height: 64px;
  margin: 10px 10px;
  background-color: #e1e1e1;
  border: 1px;
  border-radius: 50%;
  }

.social-net img {
  display: block;
  margin: 24px auto;
}
/* ----------          GRID CLASSES          ---------- */

/* ----------            navigation          ---------- */
.main-navigation {
  width: 1160px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.site-navigation {
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-navigation {
  display: flex;
  align-items: center;
}
.cart-navigation li {
  position: relative;
}

.cart-navigation li::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 6px;
  left: -42px;
  background-image: url(../img/cart-icon.svg);
}
/* ----------          main page          ---------- */
.main-promo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.flex-slogan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px 80px 0;
  border-bottom: 2px solid #eee;
}
.offers-site, .offers-apps, .offers-presentation {
  width: 300px;
  height: 350px;
  padding-top:5px;
}
.about-company-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}

.all-partners-list {
  width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 0;

  border-bottom: 2px solid #eee;
}

.footer-containter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* CATALOG */

.catalog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.form-catalog {
  display: flex;
  justify-content: space-between;
}
.catalog-list {
  width: 760px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

}
.filters {
  width: 260px;
}
.catalog-item {
  margin-bottom: 80px;
}
.catalog-item a {
  display: block;
  position: relative;
}
.catalog-item a::before {
  content: '';
  position:absolute;
  top: -40px;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #fff;
  background-image: url(../img/browser.svg);
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 44px;
}
.pagination-item {

  display: flex;
  height: 50px;
  background-color: #eeeeee;
  margin: 0 10px;
  padding: 0 20px;
  align-items: center;

}
/* ----------          FILTER CATALOG          ---------- */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;

}

.max-price {
  text-align: right;
}

.catalog .container {
  display: flex;
  justify-content: space-between;
}

.container {
width: 1160px;
margin: 0 auto;
}
